# To fetch and process publications using ORCID API
requests==2.31.0
pandas==2.1.1
pathlib==1.0.1
rich==13.7.1

# To run jupyter notebook
ipykernel==6.27.1

# To build jupyter book
jupyter-book==1.0.0